<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Authentication</strong>
            </div>
            <div class="panel-body">
                <p>In this demo you can see following actions;</p>
                <ul>
                    <li>Login</li>
                    <li>Signup</li>
                    <li>Logout</li>
                    <li>Click "Me" link when you signin</li>
                </ul>
            </div>
        </div>
    </div>
</div>